.finish-order-page-title {
  margin-top: 40px;
  margin-bottom: 40px;
}

.finish-order-img {
  width: 254px;
  display: block;
  margin: 32px auto 120px;
}

ion-footer {
  ion-toolbar {
    padding: 24px;
  }
}