@import '../../alan_global';

.menu-page-title {
  margin-bottom: 24px;
  padding-left: 24px;
  padding-top: 40px;
}

ion-title {
  color: #081746;
  @include font-18-21();
  .for {
    color: rgb(102, 110, 135);
  }
  $left-right-title-padding: 20px;
  padding-inline-start: $left-right-title-padding;
  -webkit-padding-start: $left-right-title-padding;
  padding-inline-end: $left-right-title-padding;
  -webkit-padding-end: $left-right-title-padding;
}

ion-grid {
  margin-bottom: 120px;
}

ion-card {
  height: 120px;
  position: relative;
  margin-bottom: 16px;
  margin-left: 24px;
  margin-right: 24px;
  margin-top: 0px;
  @include noselect();
  cursor: pointer;

  @include desktopScreen() {
    height: 282px;
    margin-left: 10px;
    margin-right: 10px;
  }

  ion-card-title {
    color: #fff;
    @include font-22-26();
    position: absolute;
    bottom: 20px;
    left: 20px;
    z-index: 3;
  }

  .menu-gradient {
    &:after {
      display: inline-block;
      background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.91) 91%, rgba(0, 0, 0, 1) 100%);
      content: '';
      width: 100%;
      height: 100%;
      transition: opacity 300ms ease-in-out;
      opacity: 1;
      position: absolute;
      top: 0;
      left: 0;
      z-index: 2;
    }
    &:before {
      content: '';
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      opacity: 0;
      display: inline-block;
      background-color: rgba(0, 0, 0, 0.4);
      pointer-events: none;
      transition: opacity 300ms ease-in-out;
      z-index: 1;
    }
  }

  &:hover {
    &.clickable {
      .menu-gradient {
        &:after {
          opacity: 0;
          transition: opacity 300ms ease-in-out;
        }
        &:before {
          opacity: 1;
          transition: opacity 300ms ease-in-out;
        }
      }
    }
  }


  img {
    position: relative;
    display: block;
  }
}